{% extends "::base.html.twig" %}

{% block body %}

<div class="container">
    <article>
    <header>
        <div class="row-fluid">
            <div class="span6">
            
                <h2> Biographie </h2>

            </div>
            <div class="span6">
                
            </div>   
        </div>

    </header>
    <hr>
    <div class="content">
        <blockquote>
        <p>
Aki La Machine est un rappeur français originaire du 18ème arrondissement de Paris . Découvert sur la compilation Explicit 18 en 2003 avec son morceau Ma mentalité, il a après participé à d’innombrables projets (Flynt, Néochrome3, Sidi-Omar, Départements 75, Talents Fâchés3, des compilations "Appelle Moi Mc", "Photo De Famille" ou encore plus récemment sur l'album de Mokless "Le Poids des Mots"'). Aki réalise en 2008, son premier Street-CV Un pied dans la street et l'autre en studio. Un projet composé de 17 titres et dans lequel on retrouve notamment certains morceaux avec les artistes de la scène rap tel que Mokless, Twin Gambino ( Infamous Mobb), Koma, Tarik ( Marché Noir), Ekoué...
Aki la Machine dote le rap français d’un esprit, d’une conscience. Véritable produit de l’underground, c’est un artiste engagé et ses paroles sont teintées d’un réalisme parfois déconcertant. 
Aki la machine prépare son Maxi téléchargeable 5 titres, Quartier rouge  et annonce la  sortie très prochaine de son premier album.        </p>
        </blockquote>
    </div>
</article>

</div>

{% endblock %}
