{% extends "::base.html.twig" %}

{% block body %}

<div class="container">
    <article>
    <header>
        <div class="row-fluid">
            <div class="span6">
            
                <h2> Vidéos </h2>

            </div>
            <div class="span6">
                
            </div>   
        </div>

    </header>
    <hr>
    <div class="content">
        <p>
           Classement des meilleurs artistes ou annonceurs (les plus actifs par exemple) , propositions d’artistes ou d'annonceurs aléatoire.
        </p>
        </blockquote>
    </div>
</article>

</div>

{% endblock %}